<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Doctors</title>
</head>
<body>
    <center>
        <form action="" method="post">
            {% csrf_token %}
            
            <label for="">First Name:</label><br/>
            <input type="text" name="firstName" id="firstName" placeholder="Enter the first name"><br>
            
            <label for="">Last Name:</label><br/>
            <input type="text" name="lastName" id="lastName" placeholder="Enter the last name"><br>
            
            <label for="">Email:</label><br>
            <input type="email" name="email" id="email" placeholder="Enter your email" required><br>
            
            <label for="">Number:</label><br>
            <input type="number" name="mobileNumber" id="mobileNumber" placeholder="Enter your mobile number" required><br>

            <label for="">Aadhar:</label><br>
            <input type="number" name="aadharNumber" id="aadharNumber" placeholder="Enter your aadhar number" required><br>

            <label for="">Role:</label><br/>
            <input type="text" name="role" id="role" placeholder="Enter the role"><br>
            
            <label for="">City:</label><br>
            <input type="text" name="city" id="city" placeholder="Enter your city" required><br>

            <input type="submit" name="submit" value="ADD">
            
        </form>
    </center>
</body>
</html>