@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins","sans-serif";
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('https://img.freepik.com/free-vector/national-doctor-s-day-hand-drawn-background_23-2149438164.jpg?w=1060&t=st=1694806426~exp=1694807026~hmac=6376b595b805c149273e5e85b00d1caf457a5115c41f25eee5608ac071fe0deb') center / cover;

}
main.table{
    width: 82vw;
    height: 90vh;
    background-color: #fff5;
    backdrop-filter: blur(7px);
    border-radius: .8rem;
    box-shadow: 0 .4rem .8rem #0005;
    overflow: hidden;
}
.table_header{
    width: 100%;
    height: 10%;
    background-color: #0004;
    padding: .8rem 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
input{
    width: 300px;
    height:30px;
    border-radius: 4px;
    padding: 2%;
    border: none;
}
.btn{
    border-radius: 4px;
    height: 35px;
    border: none;
    cursor: pointer;
}
a:hover{
    cursor: pointer;
}
.btn-search{
   width: 90px;
   background-color: rgb(80, 206, 255);
}
.btn-add{
    width: 100%;
    padding: 5 10;
    background-color: red;
}
.btn-edit{
    background-color: rgb(0, 255, 106);
}
.table_body{
    width: 95%;
    max-height: calc(89% - .8rem);
    background-color: #fffb;
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
}
thead th{
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
}
table{
    width: 100%;
}
table , th , td{
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
  }
tbody tr:nth-child(even){
    background-color: #0000000b;
}
tbody tr:hover{
    background-color: #fff6;
}
.table_body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}
.table_body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}
.table_body:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}
@media (max-width:1000px) {
    td:not(:first-of-type){
        min-width: 12.1rem;
    }
}