@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
} 
body {
	background:url("https://img.freepik.com/free-vector/national-doctor-s-day-hand-drawn-background_23-2149438164.jpg?w=1060&t=st=1694806426~exp=1694807026~hmac=6376b595b805c149273e5e85b00d1caf457a5115c41f25eee5608ac071fe0deb");
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}
.container{
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
}
.submit_btn{
    background-color: rgb(174, 255, 255);
    font-weight: bold;
    border-radius: 4px;
    height: 35px;
    border: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}