<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Existing Patient</title>
  </head>
  <body>
    <form action="" method="post">
      {% csrf_token %}
      <p>{{ error }}</p>

      <label for="symptoms">Symptoms:</label>&emsp;&emsp;
      <input
        type="text"
        name="symptoms"
        id="symptoms"
        placeholder="Enter Symptoms"
        required
      /><br /><br />

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
