{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reciponist Index</title>
    <link rel="stylesheet" href="{% static 'css/utils.css' %}">
    <link rel="stylesheet" href="{% static 'css/president_doctor_patient.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
    <main class="table">
        <section class="table_header">
            <h1>Receptionist</h1>
            <form action="" method="post">
                {% csrf_token %}
                <input type="search" name="searchDoctor" id="searchDoctor">
                <button type="submit" class="btn btn-search"><i class="fa fa-search" aria-hidden="true"></i> <strong>Search</strong> </button>
            </form>
            <a  href="/receptionistPatientAddition" ><button class="btn btn-add"><strong>Add Patient</strong>  <i class="fa fa-wheelchair" aria-hidden="true"></i></button></a>
            <a href="/logoutStaff"><button class="btn btn-search"><strong>Logout</strong></button></a>
        </section>
        <section class="table_body"> 
            {% if application%}
            {%else%}
                {{"User Doesn't Exist"}}
            {%endif%}
            <table >
                <thead>
                    <tr>
                        <th>Application id</th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Date of Birth</th>
                        <th>Mobile Number</th>
                        <th>Aadhar Number</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for person in application %}
                    <tr>
                        <td>{{ person.visit.patientId.id }}</td>
                        <td>{{ person.visit.patientId.name }}</td>
                        <td>{{ person.visit.patientId.gender }}</td>
                        <td>{{ person.visit.patientId.dateOfBirth }}</td>
                        <td>{{ person.visit.patientId.mobileNumber }}</td>
                        <td>{{ person.visit.patientId.aadharNumber }}</td>
                        {% if pid %}
                        <td><a href="/receptionistExistingPatient/{{pid}}"><button>Add Symptoms</button></a></td>

                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </main>

</body>
</html>
    
