<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Addition</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        
        <label for="">First Name:</label><br/>
        <input type="text" name="firstName" id="firstName" placeholder="Enter the first name"><br>
        
        <label for="">Last Name:</label><br/>
        <input type="text" name="lastName" id="lastName" placeholder="Enter the last name"><br>

        <label for="">Email:</label><br/>
        <input type="email" name="email" id="email" placeholder="Enter the Email"><br>
        
        <label for="">Number:</label><br>
        <input type="number" name="mobileNumber" id="mobileNumber" placeholder="Enter your mobile number" required><br>

        <label for="">Aadhar:</label><br>
        <input type="number" name="aadharNumber" id="aadharNumber" placeholder="Enter your aadhar number" required><br>
        
        <label for="">City:</label><br>
        <input type="text" name="city" id="city" placeholder="Enter your city" required><br>

        <label for="">Symptoms:</label><br>
        <textarea type="text" placeholder="Enter your symptoms" ></textarea><br>
        
        <input type="submit" name="submit" value="ADD">
        
    </form>
</body>
</html>