{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Doctor Index</title>
    <link rel="stylesheet" href="{% static 'css/utils.css' %}" />
  </head>
  <body>
    <a href="/logoutStaff"><button>Logout</button></a>
    {% block content %}
    <h1>Doctor Index</h1>
    <h3>Search Patient</h3>
    <form method="post" action="">
      {% csrf_token %}
      <input
        type="text"
        id="application_id"
        name="application_id"
        placeholder="Enter Application ID"
        required
      />
      <button type="submit">Search</button>
    </form>
    {% if error %} {% else %}
    <h1>Patient Details</h1>
    {% endif %}
    <span>{{error}}</span>

    <table>
      {% if error %} {% else %}
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Gender</th>
        <th>DateOfBirth</th>
        <th>Mobile Number</th>
        <th>Symptoms</th>
        <th>Diagnosis</th>
        <th>Prescription</th>
      </tr>
      {% endif %} {% for person in person1 %}
      <tr>
        <td>{{ person.patientId.id }}</td>
        <td>{{ person.patientId.name }}</td>
        <td>{{ person.patientId.gender }}</td>
        <td>{{ person.patientId.dateOfBirth }}</td>
        <td>{{ person.patientId.mobileNumber }}</td>
        <td>{{ person.symptoms }}</td>
        <td>{{ person.diagnosis }}</td>
        <td>{{ person.prescription }}</td>
      </tr>
      {%endfor%}
    </table>

    {% if error %}
    <p></p>
    {%else%}
    <table>
      <tr>
        <td>Current Symptoms : {{visit2.symptoms}}</td>
      </tr>
    </table>
    <form method="post" action="{% url 'review_patient' %}">
      {% csrf_token %}
      <input
        type="hidden"
        id="patientid"
        name="patientid"
        value="{{ app_id }}"
      />
      <input
        type="hidden"
        id="symptoms"
        name="symptoms"
        placeholder="Enter symptoms"
        value="{{ visit2.symptoms }}"
      />
      <input
        type="text"
        id="diagnosis"
        name="diagnosis"
        placeholder="Enter diagnosis"
        required
      />
      <input
        type="text"
        id="prescription"
        name="prescription"
        placeholder="Enter prescription"
        required
      />
      <button type="submit">Add</button>
    </form>
    {% endif %} {% endblock %}
  </body>
</html>
